@import '../../../../Layout/Styles/Variables/style';
@import '../../../../Layout/Styles/Mixins/style';
.reset-page {
  .custom-form-layer {
    position: absolute;
    height: calc(100vh - 180px + 200px);
    width: 100%;
    background-color: rgba(246, 246, 246, 0.16);
  }
  .reset-main {
    width: 1200px;
    margin: 0 auto;
    .reset-content {
      display: flex;
      justify-content: space-between;

      .reset-logo {
        padding-top: 5px;
        img {
          height: 160px;
        }
      }
      .reset-body {
        width: 420px;
        .reset-text {
          color: $plain-white-bg-color;
          h1 {
            font-size: 36px;
            font-weight: 800;
            padding-bottom: 5px;
            margin-bottom: 40px;
            span {
              padding-bottom: 10px;
              border-bottom: 6px solid $primary-color;
            }
          }
        }

        button {
          background: $primary-color;
          margin-top: 25px;
          width: 100%;
        }

        a {
          display: inline-block;
          margin-top: 1em;
          color: $text-dark-color;
          text-decoration: none;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }

        form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .form-group {
            margin-bottom: 5px;

            .alert-border {
              border: solid 0.5px #f8545d;
            }

            p {
              color: #f8545d;
              font-size: 13px;
            }

            label {
              display: flex;
              flex-direction: column;
              width: 100%;
              color: $plain-white-bg-color;
              padding-bottom: 20px;
            }

            input {
              width: 100%;
              display: block;
              border: 1px solid #ededed;
              border-radius: 4px;
              margin-top: 12px;
              height: 50px;
              transition: 0.2s ease-out;
              &:focus {
                outline: none;
                box-shadow: none;
              }
              color: #5e619a;
            }
          }
          .reset-button {
            background: $primary-color;
            margin-top: 20px;
            width: 100%;
            height: 52px;
            color: $text-dark-color !important;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .reset-page {
    .reset-main {
      width: 100%;
      .reset-content {
        width: 90vw;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .reset-page {
    .reset-main {
      width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      .reset-content {
        flex-flow: column-reverse;
        .reset-logo {
          img {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 685px) {
  .reset-page {
    .reset-main {
      width: 80vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      .reset-content {
        .reset-logo {
          img {
            height: 120px;
          }
        }
        .reset-body {
          .reset-text {
            h1 {
              font-size: 26px;
              text-wrap: none;
              font-weight: 800;
              padding-bottom: 10px;
              margin-bottom: 25px;
              line-height: 40px;

              span {
                padding-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .reset-page {
    .reset-main {
      .reset-content {
        .reset-body {
          width: 100%;
          .reset-text {
            h1 {
              span {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
