//colors
$primary-color: #efd36f;
$accent-color: #efd36f;
$dark-bg-color: #1e2227;
$grey-bg-color: #f4f4f4;
$dark-light-bg-color: #22282d;
$grey-bg-color: #f4f4f4;
$light-bg-color: #f6f6f6;
$gunmetal-bg-color: #2b3137;
$anti-flash-white-bg-color: #f0f0f0;
$plain-white-bg-color: #fff;
$text-plain-white-color: #fff;
$text-dark-color: #22282d;
$text-light-color: #f6f6f6;
$text-warning-color: #efd168;
$success: #41b883;
$info: #42baf9;
$warning: #faad15;
$danger: #dc3545;
